<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="manelly67\'s exercise study Project: File Uploader Storage within the curriculum The Odin Project"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>