<!-- 404.ejs -->
<html lang="en">
 
<%- include('./partials/head.ejs') %>


<body>
    
    <div class="not-found content">
        <h2>Oops, Page Not Found :) </h2>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>