<html lang="en">
 
<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/back-home.ejs') %>
    
    <div class="container">
        <div style="display:flex; flex-direction:column;gap: 2px;">
            <h1>To access this content you need to be authenticated</h1>
            
            <p>Please login...</p>
            <hr>
            <a href="/log-in" style="width: 100px;">LOGIN</a>
        </div>
        
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>