<!-- index.ejs -->
<html lang="en">
 
<%- include('./partials/head.ejs') %>


<body>
    
    <div class="container">
        <h2>NUEVO PROJECTO</h2>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>